header {
    background-color: pink;
    height: 70px;
}


#Lside {
    display: inline-block;
    text-align: center;
    background-color: rgb(252, 161, 252);
    word-wrap: break-word;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

#Rside {
    width: 300px;
    background-color: lightblue;
    padding-left: 10px;
    padding-top: 10px;
}

#content {
    display: inline;
    text-align: left;
    background-color: rgb(249, 249, 142);
    float: left;
    padding-left: 10px;
    flex: 50%;
    /* position: relative; */

}

.box {
    display: flex;
    justify-content: space-between;

    /* height: 600px; */
    min-height: 80vh;
    /* flex-wrap: wrap; */
    flex: auto;
}

body {
    display: flex;
    flex-direction: column;
}

#footer {
    display: flex;

    flex-direction: column;
    /* text-align: center; */
}

#bottom {
    background-color: rgb(176, 180, 253);
}
footer {
    width: 100%;
    text-align: left;
    margin-top: auto;
    /* position: relative; */
    flex-wrap: wrap;
    line-height: 1.5;
}

#container {
    min-width: 550px;
}

